@import url("https://fonts.googleapis.com/css2?family=Source Sans Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

p {
  margin: 0;
}

.new-nav {
  width: 1400px;
  max-width: 1440px;
  height: 64px;
  border: 5px solid rgba(95, 103, 156, 1);
  background-color: rgba(232, 237, 245, 1);
  border-radius: 20px;
}

.new-card-content {
  position: absolute;
  left: 380px;
  top: 100px;
  width: 1092px;
  height: 800px;
  border: 5px solid rgba(202, 215, 230, 1);
  border-radius: 20px;
  background-color: rgba(243, 240, 240, 0.75);
  box-shadow: 3px black;
}

.group-1 {
  position: absolute;
  top: 200px;
  left: 20rem;
  width: 216px;
  height: 434px;
}

.group-2 {
  position: absolute;
  top: 1rem;
  left: 6.3rem;
  width: 216px;
  height: 434px;
  border-radius: 30px;
  background-color: linear-gradient(
    211.33999999999997deg,
    rgba(159, 222, 248, 0.3) 14%,
    rgba(179, 164, 164, 0) 100%
  );
}

.group-3 {
  position: absolute;
  top: 28.3rem;
  left: 6.3rem;
  width: 216px;
  height: 334px;
  border-radius: 30px;
  background-color: linear-gradient(
    211.33999999999997deg,
    rgba(159, 222, 248, 0.3) 14%,
    rgba(179, 164, 164, 0) 100%
  );
}

.dog-hat {
  position: absolute;
  left: 5rem;
}

.cloud {
  position: absolute;
  left: 3rem;
  top: 10rem;
}

.turtle {
  position: absolute;
  left: 3rem;
  top: 25rem;
}
.burst {
  position: absolute;
  left: 3rem;
  top: 37rem;
}

.music-note {
  position: absolute;
  left: 15rem;
  top: 8rem;
}

.surf-dog {
  position: absolute;
  left: 20rem;
  top: 25rem;
}

.p {
  margin: 0;
}

.group-12 {
  width: 437px;
  height: 596.9px;
  box-sizing: border-box;
}

.group-512 {
  margin-top: 5rem;
  margin-left: 2rem;
  position: absolute;
  left: 13rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.register {
  display: flex-direction;
  color: rgba(80, 86, 144, 1);
  font-size: 5rem;
  align-items: center;
  line-height: 35%;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.form-content {
  width: 35%;
  height: 25px;
  border: 5px solid rgba(250, 250, 250, 1);
  border-radius: 10px;
  background-color: rgba(243, 240, 240, 0.75);
}

.forms-label {
  /* position: ; */
  margin-top: 2rem;
  margin-right: 15rem;
  right: 5rem;
  font-size: 20px;
}

.organize {
  position: absolute;
  left: 25rem;
  top: 30rem;
}

.bounce-right:hover {
  -webkit-animation: bounce-right 0.8s both;
  animation: bounce-right 0.8s both;
}

@-webkit-keyframes bounce-right:hover {
  0% {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(6.5px);
    transform: translateX(6.5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-right {
  0% {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(6.5px);
    transform: translateX(6.5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat:hover {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
